@page "/"

<link rel="stylesheet" href="styles/app.css" />

<div class="header">病床預約系統</div>

<br />

<body class="text-center">
    <div class="form-group mx-auto">
        <label for="patientName">姓名：</label>
        <center><InputText id="patientName" @bind-Value="patientName" class="form-control" /></center>
    </div>

    <br />

    <div class="form-group mx-auto">
        <label for="idNumber">身分證字號：</label>
        <center><InputText id="idNumber" @bind-Value="idNumber" @onchange="ValidateIdNumber" class="form-control" /></center>
        <br />
        <p style="color: red;">@errorMessage</p>
    </div>
    <button type="submit" class="btn1" @onclick="HandleValidSubmit">登入</button>
</body>

@code {
    private string patientName;
    private string idNumber;
    private string errorMessage = "";

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void ValidateIdNumber(ChangeEventArgs e)
    {
        string input = e.Value?.ToString();
        errorMessage = IsValidIdNumber(input) ? "" : "身分證格式錯誤，請輸入正確格式。";
    }

    private bool IsValidIdNumber(string input)
    {
        // 在這裡實現你的身分證格式檢查邏輯
        // 這裡只是一個簡單的例子，你需要根據實際需求進行修改
        return !string.IsNullOrEmpty(input) && input.Length == 10 && char.IsLetter(input[0]) && input.Substring(1).All(char.IsDigit);
    }

    private void HandleValidSubmit()
    {
        if (IsValidIdNumber(idNumber))
        {
            NavigationManager.NavigateTo("/Greene");
        }
        else
        {
            errorMessage = "請輸入正確的身分證格式！";
        }

    }
}
